<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <div class="weatherupdate">
        <form class = "form">
        <input type="text" placeholder="Enter your city" value="" id="cityname"> <br>
        <input type="submit" id="getcity" class="btn">
        </form>
    </div>
    <div id="result">
        
    </div>
    {{>footer}}
    
</body>
</html>